<h1>SHOW</h1>
<br>
<h2>details:</h2>
<br>
<hr>
<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Phone: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>
<br>
<p>Reviews link</p>
<hr>
